doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- FAVICON ICON
        link(rel="shortcut icon", href="../assets/images/logo.png", type="image/x-icon")
        //- CSS LINK
        link(rel="stylesheet", href="../assets/css/main.css")
        //- ICONS
        link(href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css", rel="stylesheet")
        //- FONTAWESOME ICONS
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
        //- JS
        script(defer, src="../assets/js/script.js") 
        title Premium
    body 
        .header 
            .logo-container 
                i.ri-menu-line
                .logo 
                    .logo-img 
                        img(src="../assets/images/logo.png", alt="Logo")
                    h1#logo-txt premium
            .search-container
                form(action="", method="get") 
                    input(type="text" placeholder='Search')
                button.search 
                    i.ri-search-line
            .profile-container 
                i.ri-video-add-line 
                i.ri-grid-fill 
                i.ri-notification-4-line 
                .profile-box 
                    img(src="../assets/images/profile.jpg", alt="User image")
        
        //- SIDEBAR START
        .body-container 
            .sidebar
                .sidebar-items 
                    a.sidebar-item 
                        i.fa-solid.fa-house
                        | home    
                    a.sidebar-item 
                        i.fa-solid.fa-fire
                        | Trends    
                    a.sidebar-item 
                        i.fa-solid.fa-house
                        | Subscriptions    
                    a.sidebar-item 
                        i.fa-solid.fa-house
                        | Originals    
                    hr
                    a.sidebar-item 
                        i.fa-solid.fa-book
                        | Library    
                    a.sidebar-item 
                        i.fa-solid.fa-clock-rotate-left
                        | History    
                    a.sidebar-item 
                        i.fa-brands.fa-youtube
                        | Your videos    
                    a.sidebar-item 
                        i.fa-solid.fa-film
                        | Your movies
                    a.sidebar-item 
                        i.fa-solid.fa-clock
                        | Watch later    
                    a.sidebar-item 
                        i.fa-solid.fa-chevron-down
                        | Show more
                    hr
                    h4 SUBRCRIPTIONS
                    hr
                    h4 MORE FROM YOUTUBE
                    a.sidebar-item 
                        i.fa-solid.fa-gamepad
                        | gaming    
                    a.sidebar-item 
                        i.fa-solid.fa-house
                        | live    
                    a.sidebar-item 
                        i.fa-solid.fa-house
                        | sports  
                    hr
                    
                    a.sidebar-item 
                        i.fa-solid.fa-house
                        | settings    
                    a.sidebar-item 
                        i.fa-solid.fa-house
                        | report history    
                    a.sidebar-item 
                        i.fa-solid.fa-house
                        | help   
                    a.sidebar-item 
                        i.fa-solid.fa-house
                        | send feedback 
            .content    
                ol.chips-wrapper 
                    li.chip 
                        p All 
                    li.chip 
                        p Yatchs 
                    li.chip 
                        p Boats 
                    li.chip 
                        p RVs 
                    li.chip 
                        p Electrical Engineering 
                    li.chip 
                        p Photocopier 
                    li.chip 
                        p Cookery  
                    li.chip 
                        p Apple 
                    li.chip 
                        p CSS 
                    li.chip 
                        p Figma 
                    li.chip 
                        p Astronomy  
                    li.chip 
                        p React routers 
                    li.chip 
                        p Motorcycles 
                .video-container 
                    .video-content-cover 
                        .video-content 
                            a.video-box(href="#") 
                                video(src="../assets/videos/1.mp4")
                            .video-details 
                                .channel-logo 
                                    img(src="../assets/images/logo.png", alt="channel logo")
                                .detail     
                                    h3.title Doğu Karadeniz Dağlarında Bisikletle Geziyoruz
                                    .channel-name Yiğit Can İÇ
                                    .views-upload 
                                        .views 28K views 
                                        .upload 1 year old 
                            .hidden-content 
                                .btn
                                    i.ri-time-line
                                    | Watch later 
                                .btn 
                                    i.ri-play-list-2-line
                                    | Add to queue
                    .video-content-cover 
                        .video-content 
                            a.video-box(href="#") 
                                video(src="../assets/videos/1.mp4")
                            .video-details 
                                .channel-logo 
                                    img(src="../assets/images/logo.png", alt="channel logo")
                                .detail     
                                    h3.title Doğu Karadeniz Dağlarında Bisikletle Geziyoruz
                                    .channel-name Yiğit Can İÇ
                                    .views-upload 
                                        .views 28K views 
                                        .upload 1 year old 
                            .hidden-content 
                                .btn
                                    i.ri-time-line
                                    | Watch later 
                                .btn 
                                    i.ri-play-list-2-line
                                    | Add to queue
                    .video-content-cover 
                        .video-content 
                            a.video-box(href="#") 
                                img(src="../assets/images/3.png", alt="Video")
                            .video-details 
                                .channel-logo 
                                    img(src="../assets/images/logo.png", alt="channel logo")
                                .detail     
                                    h3.title Doğu Karadeniz Dağlarında Bisikletle Geziyoruz
                                    .channel-name Yiğit Can İÇ
                                    .views-upload 
                                        .views 28K views 
                                        .upload 1 year old 
                            .hidden-content 
                                .btn
                                    i.ri-time-line
                                    | Watch later 
                                .btn 
                                    i.ri-play-list-2-line
                                    | Add to queue
                    .video-content-cover 
                        .video-content 
                            a.video-box(href="#") 
                                img(src="../assets/images/4.png", alt="Video")
                            .video-details 
                                .channel-logo 
                                    img(src="../assets/images/logo.png", alt="channel logo")
                                .detail     
                                    h3.title Doğu Karadeniz Dağlarında Bisikletle Geziyoruz
                                    .channel-name Yiğit Can İÇ
                                    .views-upload 
                                        .views 28K views 
                                        .upload 1 year old 
                            .hidden-content 
                                .btn
                                    i.ri-time-line
                                    | Watch later 
                                .btn 
                                    i.ri-play-list-2-line
                                    | Add to queue
                    .video-content-cover 
                        .video-content 
                            a.video-box(href="#") 
                                img(src="../assets/images/5.png", alt="Video")
                            .video-details 
                                .channel-logo 
                                    img(src="../assets/images/logo.png", alt="channel logo")
                                .detail     
                                    h3.title Doğu Karadeniz Dağlarında Bisikletle Geziyoruz
                                    .channel-name Yiğit Can İÇ
                                    .views-upload 
                                        .views 28K views 
                                        .upload 1 year old 
                            .hidden-content 
                                .btn
                                    i.ri-time-line
                                    | Watch later 
                                .btn 
                                    i.ri-play-list-2-line
                                    | Add to queue
                    .video-content-cover 
                        .video-content 
                            a.video-box(href="#") 
                                img(src="../assets/images/6.png", alt="Video")
                            .video-details 
                                .channel-logo 
                                    img(src="../assets/images/logo.png", alt="channel logo")
                                .detail     
                                    h3.title Doğu Karadeniz Dağlarında Bisikletle Geziyoruz
                                    .channel-name Yiğit Can İÇ
                                    .views-upload 
                                        .views 28K views 
                                        .upload 1 year old 
                            .hidden-content 
                                .btn
                                    i.ri-time-line
                                    | Watch later 
                                .btn 
                                    i.ri-play-list-2-line
                                    | Add to queue
                    .video-content-cover 
                        .video-content 
                            a.video-box(href="#") 
                                img(src="../assets/images/7.png", alt="Video")
                            .video-details 
                                .channel-logo 
                                    img(src="../assets/images/logo.png", alt="channel logo")
                                .detail     
                                    h3.title Doğu Karadeniz Dağlarında Bisikletle Geziyoruz
                                    .channel-name Yiğit Can İÇ
                                    .views-upload 
                                        .views 28K views 
                                        .upload 1 year old 
                            .hidden-content 
                                .btn
                                    i.ri-time-line
                                    | Watch later 
                                .btn 
                                    i.ri-play-list-2-line
                                    | Add to queue
                    .video-content-cover 
                        .video-content 
                            a.video-box(href="#") 
                                img(src="../assets/images/8.png", alt="Video")
                            .video-details 
                                .channel-logo 
                                    img(src="../assets/images/logo.png", alt="channel logo")
                                .detail     
                                    h3.title Doğu Karadeniz Dağlarında Bisikletle Geziyoruz
                                    .channel-name Yiğit Can İÇ
                                    .views-upload 
                                        .views 28K views 
                                        .upload 1 year old 
                            .hidden-content 
                                .btn
                                    i.ri-time-line
                                    | Watch later 
                                .btn 
                                    i.ri-play-list-2-line
                                    | Add to queue
